local level = {}
--[[关卡结构,每一关有有2个表:stroy和monster,其中stroy中是所有剧情,stroycon是每对话一次都会调用的函数来判断玩家是否可以进行下一步对话]]
--[[monster是Monter的属性表和技能名，和AI函数]]

--第一关校外打流氓
local outschool ={}
level[1] = outschool
outschool.story = {
	[1] = {}
	}
outschool.story.func=function (academy_t)
	-- 这个函数能获取当前academy_t的所有域值
	local role = academy_t.role
	return false
end

outschool.monster = {}
outschool.monster.think = function ()

end


--第二关
local inschool = {}
level[2] = inschool








return level