local level = {}
--[[关卡结构,每一关有有2个表:stroy和monster,其中stroy中是所有剧情,stroycon是每对话一次都会调用的函数来判断玩家是否可以进行下一步对话]]
--[[monster是Monter的属性表和技能名，和AI状态机函数【如果lua语法错load则会提示lua:37: attempt to call a nil value】]]
--[[exp是通过该关卡获得的经验]]

function commonthink(academy_t)
	local self = academy_t
	local monster = self.monster
	local role = self.role
	local skill_num = #monster.skill
	repeat
		local skill_index = math.random(skill_num)
	until not (monster.skill[skill_index].passive)
	monster:castskill(monster.skill[skill_index].name,role)
	--monster:castskill(monster.skill[math.random(skill_num)].name,role)
end

function commonrule1(academy_t)
	local self = academy_t
	local monster = self.monster
	local role = self.role
	if self.role.law <1 then
		return false
	end
	return true
end

--第一关校外打流氓
local outschool ={}
level[1] = outschool
outschool.story = {
	[1] = {"我是怪物",{"大神好厉害",-30,-30},{"soga",0,0},{"渣渣怪物",10,10}},
	[2] = {"你也是怪物吗？",{"我是你小弟",-30,-30},{"呵呵",0,0},{"你才是怪物",10,10}},
	[3] = {"所以我们都是怪物",{"对啊大佬",-30,-30},{"no",0,0},{"打死你",10,10}},
	pass = "不错小子我看好你",
	fight = "我们能不能静静的打一架？",
	}
outschool.story.func=function (academy_t)
	-- 这个函数能获取当前academy_t的所有域值
	local condition = 1
	local role = academy_t.role
	return true
end

outschool.monster = {bspd=25,mp = 9999,name="街头混混",_skill={"强力击","矢量操作:反射"},_superskill = {"矢量操作:反射"}}
outschool.monster.think = commonthink

outschool.exp = 10
outschool.loot = {}  --掉落之类的，可能目前只会从monster._skill表中掉技能。。

--第二关
local inschool = {}
level[2] = inschool

inschool.story = {

}
inschool.story.func = function (academy_t)

	return false
end

inschool.monster={name = "铁素亚",hp = 1000,_skill={}}
inschool.monster.think = function (academy_t)

end







return level
