local level = {}
--[[关卡结构,每一关有有2个表:stroy和monster,其中stroy中是所有剧情,stroycon是每对话一次都会调用的函数来判断玩家是否可以进行下一步对话]]
--[[monster是Monter的属性表和技能名，和AI状态机函数【如果lua语法错load则会提示lua:37: attempt to call a nil value】]]
--[[exp是通过该关卡获得的经验]]

function commonthink(academy_t)
	local self = academy_t
	local monster = self.monster
	local role = self.role
	local skill_num = #monster.skill
	local skill_index
	repeat
		skill_index = math.random(skill_num)
	until not (monster.skill[skill_index].passive)
	monster:castskill(monster.skill[skill_index].name,role)
	--monster:castskill(monster.skill[math.random(skill_num)].name,role)
end

function commonrule(academy_t)
	local self = academy_t
	local monster = self.monster
	local role = self.role
	if self.role.law <1 then
		return false
	end
	return true
end

--第一关校外打流氓(混混喜欢秩序低于-50友好>10的角色)
local outschool ={}
level[1] = outschool
outschool.name = "不期而遇的麻烦!"
outschool.story = {
	[1] = {"嘿!?那边那个你在干吗呢?嘿嘿!",{"我……",0,1},{"不关你事吧!",1,-1},{"(无视他)",0,0}},
	[2] = {"嘿嘿!学园都市的学生是吗?",{"额……不是",3,0},{"有问题吗?",-3,-2},{"(继续无视他)",-10,-10}},
	[3] = {"soga……觉得你蛮有趣呢!",{"汗……",-10,1},{"哼!(生气)",10,-2},{"真是无聊",2,2}},
	[4] = {"你刚才干嘛了?我好像听到了警报声啊!",{"你不也这样做吗？",-5,5},{"不要自找麻烦!",10,-10}},
	pass = "出来混都不容易!放你一马好了!",
	fight = "看来你有点欠揍哦!",
	}
outschool.story.func=function (academy_t)
	-- 这个函数能获取当前academy_t的所有域值
	local self = academy_t
	local monster = self.monster
	local role = self.role
	if self.role.law < -50 and self.role.good >10 then 
		return true
	end 
	return false
end
--{level=0,exp=0,hp=200,mp=50,natt=20,ndef=0,sdef=0,bpos=0,bspd=0,accu=0,miss=0,crit=0,skill={},buffround={},name ="name",law=0,good=0}
outschool.monster = {name="街头混混",_skill={"强力击","操纵火焰"},_superskill = {},hp=30,mp=9999,natt=12,ndef=0,satt=0,sdef=0,bpos=0,bspd=10,accu=0,miss=0,crit=0}
outschool.monster.think = commonthink

outschool.exp = 10
outschool.loot = {{10000,"强力击"},{10000,"操纵火焰"}}  --掉落之类的，可能目前只会从monster._skill表中掉技能。。

--第二关
local inschool = {}
level[2] = outschool
level[3] = outschool
inschool.name = "素不相识的伙伴!"
inschool.story = {

}
inschool.story.func = function (academy_t)

	return false
end

inschool.monster={name = "铁素亚",hp = 1000,_skill={}}
inschool.monster.think = function (academy_t)

end







return level
